*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    display: inline-flex;

}

li{
    list-style: none;
    display: block;
}

ul{
    margin: 0px !important;
    padding: 0px !important;
}

