
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//color
$primary-color: #fff;
$secondary-color: hsl(0, 0%, 9%);
$background-color: #F3790D;


//typography
$base-font-size: 16px;
$heading-font: 'Bebas Neue", sans-serif';

//breakpoints
$breakpoint-md: 1199px;
$breakpoint-sm: 767px;


//padding
$p2: 20px;
$p3: 30px;
$p4: 40px;
$p5: 50px;